.rating div {
  align-items: center;
  background-color: rgb(98, 204, 98);
  border-radius: 10px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.rating {
  background-color: transparent;
}
